.places {
    margin-top: 92px;
    color: #ffffff;
}

@media screen and (max-width: 1023px) {
    .places {
        margin-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        margin-top: 64px;
    }
}