.place__image {
    grid-area: place__image;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .place__image {
        margin-left: 24px;
        max-width: calc(100% - 24px);
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
}