.place__website-item {
    list-style: none;
}

.place__website-item:nth-child(1) {
    color: #AAAAAA;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.place__website-item:nth-child(2) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
}