.lead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 56px;
}

@media screen and (max-width: 1279px) {
    .lead {
        margin-top: 48px;
    }
}