.cover__title {
    padding: 245px 312px 0 312px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    position: relative;
}