.cover__title {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 auto;
    position: relative;
    max-width: 560px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 52px;
        line-height: 55px;
    }
}

@media screen and (max-width: 560px) {
    .cover__title {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 500px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
}