.place__website {
    grid-area: place__website;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .place__website {
        margin-left: 24px;
    }
}

@media screen and (max-width: 768px) {
    .place__website {
        margin-left: 16px;
        margin-right: 16px;
    }
}